/data/closed_captions
/data/compressed
/data/features
/data/frames
/data/question
/data/videos
/data/lqa_trans
/models
*.DS_Store
*.gz
*.pdf
*.pyc
*.sw*
*.tar
*.zip

# Flux output files:
*.o[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
